
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;


}

.App-container{
/* background-color: #e3e2e2; */
width: 100%;
overflow: hidden;
min-height: 100vh;

}

.header{
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top: 0;
left: 0;
right: 0;
border: 1px solid black none;
background-color: #fff;
box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
z-index: 10;
overflow: hidden;
height: 110px;
}

.logo{
display: flex;
align-items: center;
transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); 
width: 200px;
margin-left: 15px;  
  }
  
.logo:hover{ 
  transform:scale(1.1);
  }

.nav-items > ul{
display: flex;
align-items: center;
list-style:none;
margin-right: 15px;
color: #3d4152;
font-size: 19px;
font-weight: 500;
}
  
.nav-items > ul > li{
cursor: pointer;
padding: 10px;
margin: 10px;
}
  
.nav-items > ul > li:hover{
color:#FC9A01;
}
.toggleBtn{
background-color:#FC9A01;
color: #ffffff;
font-weight: bold;
padding: 1vw 2vw;
border: none;
border-radius: 2vw;
font-size: 1.3vw;
font-weight: 500;
color:#ffffff;
cursor: pointer; 
margin:5px;
margin-left: 10px;
}
.toggleBtn:hover{
background-color: #ffa30e; 
}
.body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 10vw;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.search-container{
  display: flex;
  padding: 10px;
  margin-top: -26px;
  background-color:#FC9A01;;
  margin-bottom: 10px;
  width: 70%;
  border-radius: 5px;
}

.search-bar{
  padding-left: 200px;
}

#searchInp {
  padding: 1vw 0vw;
  padding-right: 10vw;
  padding-left: 2vw;
  border: none;
  border-radius: 2vw;
  font-size: 1.2vw;

}

#searchBtn {
 font-weight: bold;
  padding: 1vw 2vw;
  border: none;
  border-radius: 2.5vw;
  font-size: 1.3vw;
  font-weight: 500;
  color:#ffffff;
  background-color: rgb(41, 41, 41);
  cursor: pointer; 
  margin:5px;
  margin-left: 10px;
}

#searchBtn:hover{
  
  background-color: black;
}
.filter-Buttons{
display: flex;
padding: 1px;
gap: 50;
margin-left: -65px;

}

.finder-btns{
color: #75777B;
  padding: 10px;
  cursor: pointer;
  outline: none;
  margin: 5px;
  border: none;
  outline: none;
  font-size: 20px;
background: none;
font-weight: 300;
display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 231);
  padding: 8px 12px;
  width: auto;
  box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
  transition: background-color 0.1s ease-in 0s, border-color 0.1s ease-in 0s, box-shadow 0.1s ease-in 0s, width 0.2s cubic-bezier(0.65, 0, 0.35, 1) 0s;
}

.restaurant-container{
display: flex;
flex-wrap: wrap;
margin-left: 30px;
padding: 10px;
overflow: hidden;
}

.restaurant-list {
  display: flex;
  justify-content:space-between;
  margin-bottom: 50px;
  padding-top: 5px;
  margin: 5px;
}

.restaurant-list .Place-link{
background-color: #fff;
display: block;
text-decoration: none;
color: inherit;
}
  
.restaurant-list .list-item{
padding:25px 25px 50px;   /* Top ,Right and left, Bottom these are values for boxmodel*/
border: 1px solid #fff;
contain: content;
transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.restaurant-list .list-item:hover{
transform:scale(1.1);
}
   
.item-content{
  
      width:254px;
      position: relative;    
  }

.top-image{
      position: relative;
      background-color: #eef0f5;
      width: 254px;
      height: 160px;
  }

.res-img{
      width: 100%;
      border-radius: 10px;
  } 

.place-name-div{
margin-top: 14px;
}
  
.place-name-div .name{
font-size: 17px;
font-weight: 500;
word-break: break-word;
}
  
.place-name-div .food-list{
color: #686b78;
font-size: 13px;
margin-top: 4px
}

.info-div {
      display: flex;
      align-items: center;
      margin-top: 18px;
      font-size: 12px;
      justify-content: space-between;
      color: #535665;
      font-weight: 300;
  }
  
.info-div .ratings{
  
      background-color: #48c479;
      color: white;
      height: 20px;
      width: 50px;
      font-weight: 400;
      display: flex;
      align-items: center;
      
  }
  
.info-div .dot{
font-weight: 700;
color: inherit;
  }
  
.address{
  
      border-top: 1px solid #e9e9eb;
      padding-top: 14px;
      margin-top: 14px;
      color: #8a584b;
      display: flex;
      align-items: center;
      font-weight: bold;
    margin-left: 10px;
    font-size: 15px;
line-height: 1.3;
  }


.footer{
  background-color: #000;
  padding: 0 20px;
  width:100%;
  color:#fff;
  margin-bottom: -20px;
  }
  
.footer-content{
      display: flex;
      justify-content: center;
      max-width: 1200px;
      min-width: 1200px;
      margin:0 auto;
      padding:60px 0;
 
  
  }
  
.points{
      color: #fff;
      font: 15px;
      font-weight: 600;
      min-width: 300px;
      margin: 26px 0px 10px 15px;
      padding-right: 20px;
  
  
  
  }
  
.footer-li{
padding: 20px 10px 2px 0 ;
}
  
.points ul {
      list-style: none;
      display: flex;         /*Display:flex by defualt thats why we added flex-direction property in column*/
      flex-direction: column;
      
     
  
  
  }

.footer-li a{
text-decoration: none;
color:#808080 ;

font-size:15px;
font-weight:300;
  }
  
  
.footer-contact{
display: flex;
flex-grow: 1;
align-items: center;
padding: 29px 0;   
}
  
.copyrights{    
flex-grow: 1;
text-align: center;
font-size: 20px;
letter-spacing: -.6px;
}

.social-media{
  margin-right: 50px;
  display: inline;
  transition: transform 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.social-media :hover{
  transform:scale(1.1);
 
}

/*Shimmer UI */

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 8vw;
  min-height: 55vh;
  margin-left: 30px;
}  
.shimmer-cards{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 6vw 11vw;
  gap: 3vw;
  flex-wrap: wrap;
  
}
.shimmer-card{
  background-color: #ffffff;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
   gap: 2vw; 
  padding: 2vw;
  margin-bottom: 5px;
  margin-top: 25px;
  margin: 5px;
}
.loading-spinner{
  width: 100%;
  height: 100%; 
}
.shimmer-img{
  background-color: #bebebe;
  /* object-fit: scale-down; */
  display: flex;
  justify-content: center;
  padding: 1vw;
  border-radius: 10px;
  position: relative;
  width: 300px;
  height: 350px;
}
.shimmer-inner{
  height:40%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  flex-direction: column;
  padding:20px 20px 50px;
}
/*Animation to Shimmer Component Cards */
.stroke {
  height: 350px;
  background: #d6d6d6;
}
.animate {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}
.h3{
  width: 50%;
  height: 22px;
  border-radius: 15px;
  background-color: #bebebe;
}
.div2{
  width: 100%;
  background-color: #bebebe;
  border-radius: 15px;
  height: 18px;
}
.div1main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

}
.div1left{
  width: 30%;
  background-color: #bebebe;
  border-radius: 15px;
  height: 18px;
}
.div1mid{
  width: 30%;
  background-color: #bebebe;
  border-radius: 15px;
  height: 18px;
}
.div1right{
  width: 30%;
  background-color: #bebebe;
  border-radius: 15px;
  height: 18px;
}
.h4{
  width: 50%;
  height: 15px;
  border-radius: 15px;
  background-color: #bebebe;
}




.pages-container{
display: flex;
width: 100%;
justify-content: center;
padding-top: 250px;
padding-bottom: 250px;
}

/* RESTAURANT MENU */
.rest-menu{
background-color: #9c9c9c;
min-height: 100vh;
margin-top: -138px;
}
.rest-menu li{
list-style: none;

}

.top-menu{
display: flex;
justify-content: flex-start;
flex-direction: row;
flex-wrap: wrap;
background-color: #000;
color: white;
padding: 2vw 18vw;
gap: 2vw;
}
.top-menu-left{

 align-items: center;
}
.top-menu-left img{
max-width: 220px;
min-width: 200px;
border-radius: 10px
}
.top-menu-right{
width: 50%;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-direction: column;
gap: 1vw;
}
.top-menu-right-child{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
padding-top: 10px;
color: white;
}
.top-menu-right-child p:nth-child(1) i{
font-size: 20px;
padding-right: 5px;
}
.top-menu-right-child p:nth-child(1){
background-color: rgb(164, 14, 14);
border-radius: 5px;
padding: 2px 5px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.top-menu-right-child span{
padding: 0 1.5vw;
}
.ratings-container{
display: flex;
padding-left: 750px;

}

.RestaurantRatings_wrapper {
cursor: pointer;
border: 1px solid #e9e9eb;
border-radius: 6px;
text-align: center;
padding: 8px;
max-width: 100px;
float: right;
}
.RestaurantRatings_wrapper:hover{
box-shadow: 0 1px 5px #f9f9f9;
}

.RestaurantRatings_avgRating{
color: #3d9b6d;
padding-bottom: 10px;
border-bottom: 1px solid #e9e9eb;
font-weight: 700;
margin-bottom: 8px;
display: block;
}
.RestaurantRatings_totalRatings{
font-size: 11px;
color: #8b8d97;
font-family: ProximaNovaCondensedRegular,arial,Helvetica Neue,sans-serif;
font-weight: 600;
}
.main-menu{
background-color: rgb(255, 255, 255);
padding: 2vw 18vw;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
width: 100%;
}
.main-menu h1{
font-size: 20px;
margin-bottom: 1.5vw;
font-weight: 1000;
}
.mid-menu{
background-color: #fff;
display: flex;
justify-content: flex-start;
align-items: center;
padding: 2vw 18vw;
}
.mid-menu button{
padding: 4px 15px;
border-radius: 5px;
font-size: 15px;
font-weight: 800;
}
.menu-card{
background-color: #fff;
width: 100%;
display: flex;
justify-content: space-between;
align-items: flex-start;
padding: 2vw 0;
border-bottom: 1px solid #D3D3D3;
}
.menu-left{
width: 65%;
}
.menu-left h3{
color: #3E4152;
font-size: 16px;
line-height: 25px;
letter-spacing: 0.25px;
word-spacing: 2px;
}
.mid-menu button{
color: white;
border: none;
outline: none;
}
.menu-left p:nth-child(2){
padding-bottom: 2vw;
padding-top: 0.5vw;
font-size: 14px;
color: #353535;
line-height: 25px;
letter-spacing: 0.1px;
word-spacing: 2px;
}
.menu-left p:nth-child(3){
font-size: 14px;
color: #8d8d8d;
line-height: 20px;
letter-spacing: 0.25px;
word-spacing: 2px;
}
.menu-right{
height: 70%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.menu-right img{
max-width: 150px;
min-width: 150px;
max-height: 150px;
min-height: 100px;
border-radius: 10px;
}
.menu-right button{
padding: 9px 24px;
background-color: #fff;
color: #60B246;
outline: none;
border: 0.1px solid gray;
border-radius: 5px;
cursor: pointer;
font-weight:bolder;
margin-top: -15px;
}
.menu-right button:hover{
box-shadow: 0 1px 5px #ececec;
}

.bottom-menu{
  background-color: #F1F1F6;
  /* border-bottom: 1px solid #d3d3d3; */
  justify-content: center;
  gap: 5;
  align-items: flex-start;
  width: 100%;
  padding: 10vw 1vw;
  display: flex;
  margin: 0.1px;
}


.RestaurantLicence_wrapper__4BYQV {
padding: 0 16px 16px;
background-color: #f1f1f6;
font-size: .93rem;
color: #93959f;
}

.RestaurantFooterAddress_wrapper__16xqp {
background-color: #f1f1f6;
font-size: 1rem;
color: #93959f;
padding: 0 16px 120px;
}
.about-us-container{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  margin-top: 10vw;
  /* width: 100%; */
min-height: 100vh;
  background-color: rgb(255, 255, 255);
}
.user-card{
 padding: 20px;
}

.status-container{
  display: flex;
width: 100%;
justify-content: center;
padding-top: 250px;
padding-bottom: 250px;
}


.GenericError__container {
  min-height: calc(100vh - 229px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.GenericError__content {
  text-align: center;
  width: 430px;
  line-height: 1.25;
  padding: 80px 0;
}

.GenericError__image {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/023/152/240/original/delivery-break-404-error-animation-fast-food-restaurant-worker-empty-state-4k-concept-footage-with-alpha-channel-transparency-colorful-page-not-found-flash-message-for-ui-ux-web-design-video.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 260px;
}

.GenericError__title {
  color: #282c3f;
  font-size: 32px;
  font-weight: 600;
  margin: 35px 0 14px;
}

.GenericError__description {
  color: #686b78;
  font-size: 16px;
}

.nDVxx {
  -ms-flex-positive: 1;
  flex-grow: 1;
}
._3vspF {
  min-height: calc(100vh - 229px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hFjjz {
  text-align: center;
  width: 430px;
  line-height: 1.25;
  padding: 300px 0;
}

._3Ognu {
  color: #282c3f;
  font-size: 32px;
  font-weight: 600;
  margin: 30px 0 10px;
}
._1CN4Y {
  color: #93959f;
  font-size: 16px;
}
._35xiX {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: none;
  line-height: 50px;
  font-size: 14px;
  height: 50px;
  padding: 0 2rem;
  color: #fc8019;
  letter-spacing: 0;
  color: #fff;
  background-color: #fc8019;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  width: auto;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

